*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    /* All sizings in em to change according to screen size */
}
body{
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    color: #000 !important;
}
#container{
    height: 100vh;
    width: 100vw;
}
#page-container{
    display: none;
}
/* ====== Navbar ======= */
.navbar-brand{
    font-family: 'Sacramento', cursive;
    font-weight: 600;
    font-size: 2.25em;
    word-spacing: 8px;
}
.navbar-toggler-icon{
    font-size: 12px;
    outline: none !important;
    border: none;
}
.nav-item{
    margin-right: 1.5rem;
    font-size: 20px;
}
.nav-link{
    transition: border-bottom 0.5s;
}
/* ============ Global ========== */
section{
    margin-top: 9em;
}
.display-4 {
    font-size: 1.75em;
    color: #2980B9;
    overflow-y: hidden;
}
section p{
    font-size: 1.25em;
}
.btn:focus {
    outline: 0 !important;
    border: none !important;
}
/* ----------- Home --------------- */
#home p{
    font-size: 1.75em;
}
/* ======= Home Social Icons ======== */
.social ion-icon {
    font-size: 1.5em;
    transition: 0.3s;
}
.github ion-icon, .medium ion-icon{
    border: 2px solid #212529;
}
.linkedin ion-icon{
    background-color: #0e76a8;
}
.twitter ion-icon{
    background-color: #00acee;
}
.social ion-icon:hover{
    box-shadow: 0 0 4px 0.5px #000;
}
.buttons .btn{
    font-size: 1.25em;
}
/* ========= Home Button Animation ====== */
.draw-border {
    box-shadow: inset 0 0 0 3px #2980B9;
    -webkit-transition: color 0.25s 0.0833333333s;
    transition: color 0.25s 0.0833333333s;
    position: relative;
  }
  
  .draw-border::before,
  .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0rem;
    height: 0;
    bottom: 0;
    right: 0;
  }
  
  .draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
  }
  
  .draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
  }
  
  .draw-border:hover::before,
  .draw-border:hover::after {
    border-color: #fb4b60;
    -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
  }
  
  .draw-border:hover::before {
    -webkit-transition-delay: 0s, 0s, 0.25s;
    transition-delay: 0s, 0s, 0.25s;
  }
  
  .draw-border:hover::after {
    -webkit-transition-delay: 0s, 0.25s, 0s;
    transition-delay: 0s, 0.25s, 0s;
  }
/* -------- Skills ---------- */
.skill-icon img{
    filter: grayscale(100%);
    opacity: 0.6;
    transition: 0.5s;
}
.skill-icon img:hover{
    filter: grayscale(0);
    opacity: 1;
}
/* ---------- Go to Top Button ------- */
#goToTop {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 3; 
    border-radius: 100%; 
}
#goToTop img{
    transform: rotate(-43deg);
}
/* ====== Acc to screen size ====== */
@media (min-width: 550px) {
    body{font-size: 12px;}
}
@media (min-width: 768px) {
    body{font-size: 14px;}
}
@media (min-width: 1024px) {
    body{font-size: 16px;}
}