*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    /* All sizings in em to change according to screen size */
}
body{
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    color: #000 !important;
}
#container{
    height: 100vh;
    width: 100vw;
}
#page-container{
    display: none;
}
/* ====== Navbar ======= */
.navbar-brand{
    font-family: 'Sacramento', cursive;
    font-weight: 600;
    font-size: 2.2em;
    word-spacing: 8px;
}
.navbar-toggler-icon{
    font-size: 12px;
    outline: none !important;
    border: none;
}
.nav-item{
    margin-right: 1.5rem;
    font-size: 20px;
}
.nav-link{
    transition: border-bottom 0.5s;
}
.bg-blue{
    background-color: #2980B9;
}
/* ============ Global ========== */
section{margin-bottom: 9em;}
.display-4 {
    font-size: 1.75em;
    color: #2980B9;
    overflow-y: hidden;
}
section p{
    font-size: 1.25em;
}
.btn:focus {
    outline: 0 !important;
    border: none !important;
}
/* ----------- Home --------------- */
#home{
    height: 100vh;
    margin-top: 9em;
}
#home p{
    font-size: 1.65em;
}
#home img{
    display: none;
}
/* ======= Home Social Icons ======== */
.social ion-icon {
    font-size: 1.5em;
    transition: 0.3s;
}
.github ion-icon, .medium ion-icon{
    border: 2px solid #212529;
}
.linkedin ion-icon{
    background-color: #0e76a8;
}
.twitter ion-icon{
    background-color: #00acee;
}
.social ion-icon:hover{
    box-shadow: 0 0 4px 0.5px #000;
}
.buttons .btn{
    font-size: 1.25em;
}
/* ---------- Go to Top Button ------- */
#goToTop {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 3; 
    border-radius: 100%; 
}
#goToTop img{
    transform: rotate(-43deg);
}
/* ====== Acc to screen size ====== */
@media (min-width: 550px) {
    body{font-size: 12px;}
}
@media (min-width: 768px) {
    body{font-size: 14px;}
    #home img{display: block;}
}
@media (min-width: 1024px) {
    body{font-size: 16px;}
}
/* ---- Specific rules ---- */
@media (max-width: 500px){
    #home{margin-top: 5em;}
}
@media (min-width: 370px) and (min-height: 730px){
    #home{margin-top: 10em;}
    section{margin-bottom: 5em;}
}
@media (min-width: 700px) and (max-width: 1100px){
    .home-content p{margin-bottom: 2em !important;}
    .social{margin: 7em 0 !important;}
}
@media(max-width: 300px){
    .navbar-brand{font-size: 1.25rem;}
}