*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    color: #000 !important;
}
#page-container:not(.navbar) {
    background-color: #14132B;
    color: #c5c5c5;
}
.main-color {
    color: #F3A837;
    letter-spacing: 1.25px;
}
.cursive{
    font-family: 'Sacramento', cursive;
}
.display-4 {
    font-size: 2.65em;
}
/* ---------- Navbar -------------*/
.navbar-brand {
    font-size: 2em;
}
.nav-link {
    font-size: 1.25em;
}
/* ---------- Home -------------*/
#home {
    height: 100vh;
    margin-top: 4em;
    transform: translateY(20%);
}
.name {
    font-size: 4.2em;
}
#home a {
    text-decoration: none;
}
.social a {
    color: #929191;
    font-size: 1.35rem;
}
.social a:hover {
    color: white;
}
.mail{
    font-size: 1.2rem;
}
.mail a:hover {
    color: #F3A837;
    border-bottom: 2px solid #F3A837;
}
/* ---------- About -------------*/
.about-content {
    color: #929191;
}
.about-content,
.skills-content {
    font-size: 1.15rem;
}
.resume-btn {
    background-color: #0E0D4B;
    font-size: 1.35em;
}
/* ---------- Experience -------------*/
.job-head {
    cursor: pointer;
}
#experience .card,
#projects .card {
    background-color: #0F0F37;
    min-width: 100% !important;
    border-radius: 2rem;
}
#experience .position {
    font-size: 1.15em;
}
.company-name, 
.project-name {
    font-family: 'Quicksand', sans-serif;
}
.job-desc { 
    font-size: 1.1rem; 
    color: #929191;
}
/* ---------- Projects -------------*/
#projects .btn i {
    color: white;
}
#projects .btn .fab {
    font-size: 1.8rem;
}
#projects .btn .fas {
    font-size: 1.5rem;
}
.project-info {
    font-size: 1.2rem;
}
.tags .border {
    border-color: #3D3C70 !important;
}
/*---------- Footer --------------*/
footer { background-color: #100f25; }
footer p,
footer a {
    font-size: 1.2rem;
}
footer a:hover {
    text-decoration: none;
    color: white;
}
/* ---------- Go to Top Button ------- */
#goToTop {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 3; 
    border-radius: 100%; 
}
#goToTop img{
    transform: rotate(-43deg);
}

/* ====== Acc to screen size ====== */
@media (min-width: 550px) {
    #home{font-size: 12px;}
}
@media (min-width: 768px) {
    #home img{display: block;}
}
@media (min-width: 992px) {
    #home{font-size: 16px;}
    .job-desc {margin-left: 6rem;}
}

/* -------- Specific --------- */
@media (max-width: 390px) {
    .name {font-size: 2.5em;}
}
@media (max-width: 600px) and (min-width: 391px) {
    .name {font-size: 3.5em;}
}
@media (max-width: 992px) {
    #home img {
        display: none;
    }
    .company-name {
        padding-bottom: 1rem;
    }
    .tags p {
        margin-right: 1rem;
    }
    .space-above {
        margin-top: 3rem;
    }
}
@media (max-width: 1100px) and (min-width: 451px) {
    #home {
        transform: translateY(30%);
    }
}
@media (max-width: 450px) {
    #home {
        transform: translateY(7%);
    }
}