.underline-animation {
    display: inline-block;
    padding-bottom: 2px;
    background-image: linear-gradient(var(--underline-animation-color) 0 0);
    background-position: 0 100%; /*OR bottom left*/
    background-size: 0 2px;
    background-repeat: no-repeat;
    transition:
        color 0.5s ease,
        background-size 0.3s,
        background-position 0s 0.3s; /*change after the size immediately*/
}

.underline-animation:hover {
    background-position: 100% 100%; /*OR bottom right*/
    background-size: 100% 2px;
    color: var(--underline-animation-color);
}